{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "jest": true,
    "jest/globals": true
  },
  "ignorePatterns": [
    "node_modules",
    "*.d.ts"
  ],
  "rules": {
    "class-methods-use-this": 0,
    "newline-before-return": 2,
    "no-restricted-syntax": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0
  },
  "plugins": [
    "jest",
    "@typescript-eslint"
  ]
}